# Arquivos do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Arquivos do Dart
.dart_tool/
.packages
.pub/
build/

# Arquivos macOS
.DS_Store

# Arquivos Kotlin/IntelliJ IDEA
*.iml
.idea/
out/
build/
*.hprof
*.ipr
*.iws

# Diretórios de compilação do Gradle
.gradle/
build/

# Arquivos de compilação do Kotlin
*.class

# Diretórios gerados pelo KOTLIN/Native
kotlin-native/

# Outros arquivos e diretórios comuns
*.log
