# Node.js files
node_modules/
npm-debug.log
yarn-error.log

# Dart files
.dart_tool/
.packages
.pub/
build/

# Kotlin/IntelliJ IDEA and Gradle files
*.iml
.idea/
out/
build/
*.hprof
*.ipr
*.iws
*.jar
*.class
kotlin-native/
.gradle/

# macOS files
.DS_Store

# Other common files and directories
*.log
